<h1>You need to do this stuff:</h1>
<% if !user_signed_in? %>
    <%= link_to "Log in", new_user_session_path %>
    <%= link_to "Sign up", new_user_registration_path %>
<% else %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete %> <br>
    <%= link_to "New Task", new_task_path %>
    <%= render 'tasks/tasklist' if @tasks.any? %>
<% end %>
