<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-container">
    <%= form.label :name, class: "hidden" %>
    <%= form.text_field :name, placeholder: "Task Name", class: "form-input" %>
  </div>


  <div class="inline-block md:ml-2">
    <%= form.submit class: "btn-primary" %>
  </div>
<% end %>
