<table class="tasklist">
  <thead>
    <tr>
      <th>Name</th>
      <th>Completed</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td class="<%= class_names(completed: task.completed?) %>"><%= task.name %></td>
        <td><%= check_box_tag(nil, nil, task.completed?, data: { reflex: "click->ExampleReflex#toggle", id: task.id })  %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>