<div id="tasklist" class="mt-8 table">
  <div id="task-header" class="table-header-group font-bold text-center">
    <span class="table-cell">Task</span>
    <span class="table-cell">Completed</span>
    <span class="table-cell">Age</span>
  </div>
  <div id="task-items" class="table-row-group ">
    <% @tasks.each do |task| %>
      <%= content_tag :div, id: dom_id(task), class: "table-row task-rows" do %>
        <div class="<%= class_names(completed: task.completed?) %> table-cell text-2xl font-light pl-2 align-middle"><%= task.name %></div>
        <div class="table-cell pl-2 align-middle">
          <%= check_box_tag(dom_id(task, :toggle), nil, task.completed?, class: "form-checkbox h-6 w-6 rounded", data: { reflex: "click->Example#toggle", id: task.id }) %>
        </div>
        <div class="table-cell pl-2 text-sm font-medium align-middle"><%= time_ago_in_words task.created_at %></div>
        <div class="table-cell px-4 py-1 align-middle"><%= link_to edit_task_path(task) do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline hover:text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <title>Edit</title>
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
          </svg>
          <% end %>
        </div>
        <div class="table-cell pl-2 py-1 align-middle">
          <%= link_to task, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline hover:text-gray-600"" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <title>Delete</title>
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
            </svg>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
