<!DOCTYPE html>
<html>
  <head>
    <title>Do this stuff!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet'>
  </head>

  <body>
      <header>
        <div class="navwrapper">
          <%= render 'shared/navbar' %>
        </div>
      </header>
      
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class="wrapper">
        <%= yield %>
      </div>
      <footer>
        <div class="footer"></div>
      </footer>
  </body>
</html>
