<!DOCTYPE html>
<html>
  <head>
    <title>Do this stuff!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <div class="bg-blue-400 min-h-screen flex flex-col">
      <div class="bg-blue-200 md:w-1/2 h-12 md:mx-auto px-6 flex items-center justify-end">
        <%= render 'shared/navbar' %>
      </div>
      
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class="bg-green-200 md:w-1/2 md:mx-auto px-4 pb-10 md:px-12 flex-grow">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
